.cartContainer {
    display: inline-flex;
    padding: 1rem;
    gap: 2rem;
}

.totalContainer {
    display: grid;
    place-items: center;
    background-color: white;
    width: 18rem;
    height: 10rem;
    padding: 2rem;
}

.totalContainer h3 {
    text-align: left;
    width: 100%;
}

.productContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productContainer li {
    display: flex;
    gap: 5rem;
    height: 25rem;
    min-width: 40rem;
    background-color: white;
}

.productContainer li > :first-child {
    height: 100%;
    aspect-ratio: 1;
    padding: 1rem;
}

.productContainer li > :nth-child(2) {
    display: flex;
    width: 100%;
}

.productInfos {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.productInfos > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40rem;
    min-width: 20rem;
    height: 100%;
}

.productInfos > :first-child h5 {
    font-size: large;
    line-height: 2rem;
    font-weight: bold;
}

.productInfos :first-child > h3 {
    font-size: xx-large;
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.productInfos > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 2rem;
    gap: 2rem;
    width: 50%;
    max-width: 30rem;
}

.productInfos > :nth-child(2) > h3 {
    font-size: xx-large;
    font-weight: bolder;
}

.productsRef {
    display: flex;
    justify-content: space-around;
}

.alternative {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .productContainer li > :nth-child(2) * {
    outline: 1px solid red;
} */

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1;
}