.header {
  height: 4rem;
  background-color: #232f3e;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.navigation ul > :nth-child(3),
.navigation ul > :nth-child(4),
.navigation ul > :nth-child(5) {
  min-width: fit-content;
}

h5 {
  font-family: "Amazon Ember Bold";
}

.logoImg {
  position: absolute;
  translate: 2.25rem 2rem;
  width: 6rem;
  height: auto;
}

.logoTxt {
  position: absolute;
  translate: 0 -4rem;
  width: 10rem;
}

.logoContainer {
  position: relative;
  overflow: hidden;
  height: 4rem;
  min-width: 10rem;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  height: 2rem;
  min-width: 40vw;
  border-radius: 0;
  border: none;
}

.userContainer {
  color: white;
}

.userContainer p {
  font-size: 0.75rem;
}

.basketContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
