*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 
    Name: Mellow Apricot
    Hex: #febd69
    RGB: (254, 189, 105)
    CMYK: 0, 0.255, 0.586, 0.003

	
Gunmetal	

    Name: Gunmetal
    Hex: #232f3e
    RGB: (35, 47, 62)
    CMYK: 0.435, 0.241, 0, 0.756

	
Charcoal	

    Name: Charcoal
    Hex: #37475a
    RGB: (55, 71, 90)
    CMYK: 0.388, 0.211, 0, 0.647

	
Eerie Black	

    Name: Eerie Black
    Hex: #131a22
    RGB: (19, 26, 34)
    CMYK: 0.441, 0.235, 0, 0.866
     */
